.content__wrapper {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content__wrapper {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__wrapper {
    margin: 0;
  }
}
