.cover__overlay {
  position: relative;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
}

.cover__overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}